h1 {
	font-family: "Arial";
	text-align: center;
	color:#000000;
	font-weight:700;
}
.bio {
	font-family: "Helvetica";
	color:#774444;
}
.head{
	font-family: "Verdana";
	color:#0000B0;
}
body{
	background-color: #eec955;
	padding:20px;
}
#picc{
	width: 200px;
}
